 .contenido-principal {
   flex: 1;
   display: flex;
   flex-direction: column;
   width: 100%;
   /* Asegura que el contenedor ocupe el ancho completo */
   margin: 0 auto;
 }

 .formulario-empleado {
   margin-bottom: 20px;
 }

 .formulario-empleado input {
   padding: 8px;
   margin-right: 10px;
   border: 1px solid #999999;
   border-radius: 4px;
 }

 .formulario-empleado button {
   padding: 8px 16px;
   background-color: #79d9eb;
   border: none;
   border-radius: 4px;
   cursor: pointer;
 }

 /* Estilos para el formulario de añadir usuario */
 #formulario-añadir-usuario {
   position: fixed;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   background-color: white;
   padding: 20px;
   border: 1px solid #999999;
   border-radius: 4px;
   box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
   z-index: 1000;
   width: 80%;
   max-width: 800px;
 }

 #formulario-añadir-usuario select {
   width: 100%;
   padding: 8px;
   margin-bottom: 12px;
   border: 1px solid #999999;
   border-radius: 4px;
 }

 .tabla-empleados {
   width: 100%;
   border-collapse: collapse;
   margin-top: 3%;
   margin-bottom: 3%;
 }

 .tabla-empleados th,
 .tabla-empleados td {
   padding: 10px;
   border: 1px solid #999999;
   text-align: left;
 }

 .tabla-empleados th {
   background-color: #f4f4f4;
 }

 .tabla-empleados button {
   padding: 6px 12px;
   background-color: #79d9eb;
   border: none;
   border-radius: 4px;
   cursor: pointer;
   margin-right: 5px;
 }

 .tabla-empleados button:hover {
   background-color: #007bff;
 }

 .selector-admin {
   margin-bottom: 20px;
   display: flex;
   position: relative;
   right: 10px;
 }

 .fa-plus {
   padding-right: 8px;
 }

 .boton-seleccion {
   padding: 10px;
   margin: 0px 10px 13px 0px;
   padding: 10px;
   background-color: #007bff;
   border: none;
   border-radius: 4px;
   color: #fff;
   font-size: 16px;
   cursor: pointer;
   transition: background-color 0.3s ease;
 }

 .boton-seleccion.activo {
   background-color: #007bff;
 }

 .boton-seleccion:hover {
   background-color: #0056b3;
 }

.seccion-prestamos{
   display: block;
}

 .seccion-admin {
   display: none;
 }


 .seccion-admin.activo {
   display: block;
 }

 .tabla-usuarios {
   width: 100%;
   border-collapse: collapse;
   margin-top: 3%;
   margin-bottom: 3%;
 }

 .tabla-usuarios th,
 .tabla-usuarios td {
   padding: 10px;
   border: 1px solid #999999;
   text-align: left;
 }

 .tabla-usuarios th {
   background-color: #f4f4f4;
 }

 .tabla-usuarios button {
   padding: 6px 12px;
   background-color: #79d9eb;
   border: none;
   border-radius: 4px;
   cursor: pointer;
   margin-right: 5px;
 }

 .tabla-usuarios button:hover {
   background-color: #007bff;
 }

 /* Estilos para el botón de editar */
 .boton-editar {
   padding: 6px 12px;
   background-color: #007bff;
   border: none;
   border-radius: 4px;
   cursor: pointer;
   margin-right: 5px;
 }

 .boton-editar:hover {
   background-color: #007bff;
 }

 /* Estilos para el formulario de edición */
 .formulario-edicion {
   position: fixed;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   background-color: white;
   padding: 20px;
   border: 1px solid #999999;
   border-radius: 4px;
   box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
   z-index: 1000;
   width: 80%;
   /* Ajusta el ancho del formulario */
   max-width: 800px;
   /* Máximo ancho para que no se vea demasiado grande */
 }

 .fila-formulario {
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   /* Dos columnas por fila */
   gap: 16px;
   /* Espacio entre los elementos */
   margin-bottom: 16px;
 }

 .grupo-formulario {
   display: flex;
   flex-direction: column;
 }

 .grupo-formulario label {
   margin-bottom: 8px;
 }

 .grupo-formulario input,
 .grupo-formulario textarea,
 .grupo-formulario select {
   padding: 8px;
   border: 1px solid #999999;
   border-radius: 4px;
   width: 100%;
 }

 .grupo-formulario textarea {
   resize: vertical;
   /* Permite redimensionar verticalmente el textarea */
 }

 .formulario-edicion label {
   display: block;
   margin-bottom: 8px;
 }

 .formulario-edicion input {
   width: 100%;
   padding: 8px;
   margin-bottom: 12px;
   border: 1px solid #999999;
   border-radius: 4px;
 }

 .formulario-edicion button {
   padding: 8px 16px;
   background-color: #79d9eb;
   border: none;
   border-radius: 4px;
   cursor: pointer;
   margin-right: 10px;
 }

 .formulario-edicion button:hover {
   background-color: #007bff;
 }

 .fila-formulario:last-child {
   display: flex;
   justify-content: flex-end;
   /* Alinea los botones a la derecha */
   gap: 10px;
   /* Espacio entre los botones */
 }

 /* Estilos para la tabla de libros */
 .tabla-libros {
   width: 100%;
   border-collapse: collapse;
   display: block;
   margin: 2%;
   padding: 2%;
 }

 .tabla-libros tbody {
   display: grid;
   grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
   /* Múltiples columnas */
   gap: 20px;
   /* Espacio entre los bloques */
   width: 100%;
 }

 .tabla-libros tr {
   display: flex;
   flex-direction: column;
   border: 1px solid #999999;
   border-radius: 8px;
   background-color: white;
   padding: 15px;
   box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
 }

 .tabla-libros th,
 .tabla-libros td {
   padding: 10px;
   border: 1px solid #999999;
   text-align: left;
 }

 .tabla-libros th {
   background-color: #f4f4f4;
 }

 .tabla-libros button {
   padding: 6px 12px;
   background-color: #3f9cff;
   border: none;
   border-radius: 4px;
   cursor: pointer;
   margin-right: 5px;
 }

 .tabla-libros button:hover {
   background-color: #278fff;
 }

 .tabla-libros td::before {
   content: attr(data-label);
   font-weight: bold;
   margin-right: 10px;
 }

 .tabla-libros td:last-child {
   text-align: center;
 }

 .libros-container {
   display: flex;
   flex-wrap: wrap;
   gap: 20px;
   margin-top: 20px;
 }

 .libro-card {
   background-color: white;
   border: 1px solid #999999;
   border-radius: 8px;
   box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
   width: calc(33.333% - 20px);
   padding: 20px;
   box-sizing: border-box;
 }

 .libro-card-header h3 {
   margin: 0;
   font-size: 1.5rem;
   color: #333;
 }

 .libro-card-body p {
   margin: 10px 0;
   font-size: 1rem;
   color: #555;
 }

 .libro-card-actions {
   display: flex;
   gap: 10px;
   margin-top: 15px;
 }

 .libro-card-actions button {
   padding: 6px 12px;
   background-color: #79d9eb;
   border: none;
   border-radius: 4px;
   cursor: pointer;
 }

 .libro-card-actions button:hover {
   background-color: #007bff;
 }

 .add--section {
   padding: 5% 7%;
   font-weight: 600;
 }

 .add--section form {
   display: flex;
   flex-direction: column;
   line-height: 2rem;
 }

 .btn {
   width: 30%;
   margin: 0 auto;
   padding: 0.5rem;
   background-color: #B1C381;
   color: #fff;
   border: none;
   font-weight: 600;
 }

 /* Estilos para el contenedor de la tabla y el botón */
 .contenedor-tabla-boton {
   display: flex;
   align-items: flex-start;
   /* Alinea los elementos en la parte superior */
   gap: 20px;
   /* Espacio entre la tabla y el botón */
 }

 /* Estilos para el botón de añadir usuario */
 .boton-añadir-usuario {
   position: relative;
   display: flex;
   align-items: center;
   width: 100%;
   padding: 10px;
   margin-bottom: 13px;
   background-color: #007bff;
   border: none;
   border-radius: 4px;
   color: #fff;
   font-size: 16px;
   cursor: pointer;
   transition: background-color 0.3s ease;
 }

 .boton-añadir-usuario:hover {
   background-color: #007bff;
 }

.boton-añadir-prestamo {
  position: relative;
  display: flex;
  align-items: center;
  left: 7px;
  width: 100%;
  padding: 10px;
  margin-bottom: 13px;
  background-color: #007bff;
  border: none;
  border-radius: 4px;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.boton-añadir-prestamo:hover {
  background-color: #007bff;
}

 /* Estilos para el ícono de FontAwesome */
 .boton-añadir-usuario i {
   font-size: 16px;
 }

 #title-usuarios {
   margin-bottom: 0px;
 }

 #title-admin-users {
   margin-top: 94px;
   padding-bottom: 10px;
   margin-bottom: 20px;
   position: relative;
   /* Necesario para el pseudo-elemento */
   font-size: 24px;
 }

 #title-admin-users::after {
   content: '';
   display: block;
   width: 54%;
   height: 6px;
   background-color: #007bff;
   border-radius: 5px;
   position: absolute;
   bottom: 0;
   left: 22%;
 }
